{% extends 'base.html' %}

{% block head %}
<meta charset="UTF-8">
<title>VIDEOS</title>
{% endblock %}



{% block body %}
<img src="https://i.ibb.co/M6SQvB6/Youtube-Scraper.png" alt="Youtube Scraper" width="100%" height="200">

    <div style="max-width :100%; background : white">
<center><h1 style = "font-family:Georgia; font-size:36px"> AN ERROR OCCURRED </h1></center>
      <h3> Seems like we have run into an error. Please try again later. If error persists, try with some other Youtube channel.</h3>

{% endblock %}